@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

[data-theme="dark"] {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.dark {
  color-scheme: dark;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.3s ease-out;
}

.animate-duration-300 {
  animation-duration: 300ms;
}
